body{
  margin : 0;
  display : flex;
  justify-content: center;
  height : 100vh;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-size: 100px;
  color : aliceblue ;
  backdrop-filter : brightness(.5);
  letter-spacing : 4px;
}

.btn {
  background-color: black;
  color : white;
  padding : 20px 40px;
  font-size : 25px;
  border : 4px solid;
  cursor : pointer;
  transition : 1s background-color;
  white-space : nowrap;
}
.btn:hover {
  background-color: white;
  color : black;
}
.split {
  width : 50%;
  height : 100%;
  top : 0;
  overflow: hidden;
}

.split.left {
    position : absolute;
    left : 0;
    background-color: pink;
    background-image: url("https://5.imimg.com/data5/SELLER/Default/2022/2/LJ/OP/HO/147155399/apple-iphone-13-pro-max-512gb-graphite-unlocked-.jpg");
    background-size: cover;
}

.split.right {
  position : absolute;
  right : 0;
  background-color: lightblue;
  background-image:url("https://images.priceoye.pk/samsung-galaxy-s22-ultra-pakistan-priceoye-w6bkl.jpg");
  background-size : cover;
}

.active-left .left {
  width : 75%;
}

.active-left .right {
  width : 25%;
}

.active-right .left {
  width : 25%;
}

.active-right .right {
  width : 75%;
}

.left , .right{
  transition : width 2s ease-in-out;
}