body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background: linear-gradient(135deg,purple 20%,orange 80% );
}

.menu{
  background-color: lightgray;
  width: 300px;
  opacity: .3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.menu .fa-brands{
  transition: transform .2s;
}

.menu p{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.social-lists{
           background: lightgray;
           width: 300px;
           padding: 10px;
           opacity: .3;
           list-style-type: none;
           border-radius: 5px;
}

.social-lists li{
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: padding .2s linear;
}

.social-lists li:hover{
  background-color: darkgray;
  border-radius: 5px;
  padding-left: 10px;
}

.social-lists li .fa-brands{
  margin: 0 10px;
}

.rotate .fa-solid{
   transform:  rotate(180deg);
}

.hide{
   visibility: hidden;
}