body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #3FA2F6;
  color: grey;
}

img{
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 30rem;
  margin-bottom: 2rem;
}

.section-center{
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      min-width: 340px;
      padding: 5rem 0;
}

.tabs{
  background: #36C2CE;
  border-radius: .5rem;
  grid-template-rows: auto 1fr;
}

.button{
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  background: #ECFFE6;
  cursor: pointer;
  transition: all .3s linear;
}

.btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1){
  border-top-left-radius: 0.5rem;
}

.button:nth-child(3){
  border-top-right-radius: 0.5rem;
}

.button:hover:not(.live){
  background:#E90074 ;
  color: white;
}

.tabs-content{
  padding: 2rem 1.5rem;
}

@media (min-width: 992px){
    .image{
      margin: 0;
    }
    .section-center{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
}

.content{
  display: none;
}

.content.live{
  display: block;
}

.button.live{
  background: #36C2CE;
}