body{
  margin: 0;
  font-family: sans-serif;
}

.bg-image{
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-attachment: fixed;
  background-size: 160%;
}

.container{
  padding: 100px;
}

h1{
  font-size: 50px;
}

p{
  color: grey;
}

@media (max-width: 500px){
  .container{
    padding: 10px;
  }
}
